.todo__item input:checked ~ .item__text {
    text-decoration: line-through;
    color: #adacad;
}
.todo__item {
    height: 50px;
    border-bottom: inset 1px #e4e2e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
}
.todo__item__text {
    word-break: break-all;
    flex-grow: 1;
    text-align: left;
    padding-bottom: 5px;
}